form {
	margin-top: 2em;
}

.form-horizontal .form-group {
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.select-image {
	display: block;
	position: relative;
	z-index: 2;
	opacity: 0;
}

.selector-image{
	height: 150px;
}
#selector-result {
	text-align: center;
}
 
.label-project {
	padding-top: 7px;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
}

.row {
	margin-bottom: 15px;
}

.image-project {
	width: 150px;
	margin-top: 50px;
	margin-bottom: 50px;
}

.help-block {
	color: #b94a48;
}